{{!-- <form method="post" action="/admin/create_user">
  <label for="login">Login</label>
  <input id="login" type="text" name="login">
  <label for="password">Senha</label>
  <input id="password" type="password" name="password">
  <button class="btn btn-primary" type="submit">Criar</button>
</form> --}}

<main id="adm_panel_main" class="d-flex justify-content-center flex-wrap w-100">
  <div id="error_modal" class="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Erro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ocorreu um erro ao tentar concluir o contato. Por gentileza contate o administrador.</p>
      </div>
      <div class="modal-footer">
        <button id="error_modal_close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
  <div class="d-flex contact-container flex-column align-items-center">
    <div class="w-100 text-center text-white">
      <h1 class="p-5">Contatos</h1>
    </div>
    {{#if Page}}
    <div class="d-flex flex-row">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#each Page}}
          <li class="page-item"><a class="page-link text-black" href="/admin/painel/{{number}}">{{number}}</a></li>
          {{/each}}
        </ul>
      </nav>
    </div>
    {{/if}}
    {{#each Contact}}
    <div class="contact-box p-5 bg-light border-bottom" contactId={{id}}>
      <div class="contact-data">
        <h3>{{name}}</h3>
        <p>{{petName}}</p>
        <p>{{phone}}</p>
        <p class="email">{{email}}</p>
      </div>
      <div class="contact">
        <div class="btn-group">
          <button type="button" class="conclude-btn btn btn-success">Concluir</button>
          <button type="button" class="undo-btn btn btn-warning" style="display: none">Desfazer</button>
        </div>
        <div class="form-floating d-flex flex-row">
          <input type="text" id="addANote" class="form-control" placeholder="Digite o comentário..." />
          <label class="form-label d-flex align-items-center" for="addANote">+ Adicionar anotação</label>
          <button type="button" class="send-note-btn btn btn-secondary" title="Enviar anotação">
            <svg xmlns="/public/images/send-plus.svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
            </svg>
          </button>
          {{#each Note}}
          <div class="note-box">
            <h6>{{user}}:</h6>
            <p>{{comment}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="d-flex nav-container flex-column bg-secondary bg-gradient">
    <div class="p-5"></div>
    <ul class="nav nav-pills flex-column align-items-center pt-5 p-3 gap-2">
      <a href="/criar_usuario"><li class="nav-item btn btn-primary">Criar usuário</li></a>
      <a href="/listar_usuario"><li class="nav-item btn btn-primary">Listar usuários</li></a>
    </ul>
  </div>
</main>